td,th{
		text-align : center;
		border :2px solid navy;
		}
	table {
		padding :5px;
		border : 3px solid navy;
		background-color: white;
		margin-top:60px;
		border :1; 
		width :300px; 
		height :350px;
	}
	h1{
		text-align :center;
		background-color: navy;
		color: white;
		padding: 20px ;
			
		}
		p{
		background-color: navy;
		font-size: 25px;
		align: center;
		color:white;
		}
		body{
		background-color: #DFF6F0;
	}
	h6{
		color: white;
		text-align: center;
	}
	body{
		background-color: #DFF6F0;
	}